<div class="user-form">
<!--  <form action="/users" method="post" accept-charset="UTF-8">-->
<!--    <label for="user[username]"> Username </label>-->
<!--    <input type="text" name="user[username]" id="user_username">-->
<!--    <label for="user[email]"> Email </label>-->
<!--    <input type="email" name="user[email]" id="user_email">-->
<!--    <label for="user[password]"> Password </label>-->
<!--    <input type="password" name="user[password]" id="user_passowrd">-->
<!--    <input type="submit">-->
<!--    <input type="hidden" name="authenticity_token" value="<%#= request_forgery_protection_token %>>">-->
<!--  </form>-->
<%= render "form" %>
</div>